Source: locainabox
Section: ruby
Priority: optional
Maintainer: Andre Souza <saas-dev@locaweb.com.br>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://code.locaweb.com.br/locawebcommon/locainabox

Package: locainabox
Architecture: any
Depends: nginx, ruby, bundler
Description: Internal Locaweb Gem in a Box Package
