Source: geminabox
Section: ruby
Priority: optional
Maintainer: Andre Souza <andre.souza@locaweb.com.br>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://code.locaweb.com.br/locawebcommon/geminabox-debian

Package: geminabox
Architecture: any
Depends: nginx, ruby, bundler
Description: Gem in a Box
