#!/usr/bin/make -f
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_clean

install:
	bundle -v || gem install bundler --no-rdoc --no-ri
	bundle install --deployment --without=development:test

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdirs

	dh_install
	dh_installman
	dh_installchangelogs
	dh_installinit --no-start
	dh_installlogrotate
	dh_lintian
	dh_link
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
